:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Filmotype Lucky";
  src: url("fonts/filmotypelucky-webfont.eot");
  src: url("fonts/filmotypelucky-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/filmotypelucky-webfont.woff2") format("woff2"),
    url("fonts/filmotypelucky-webfont.woff") format("woff"),
    url("fonts/filmotypelucky-webfont.ttf") format("truetype"),
    url("fonts/filmotypelucky-webfont.svg#Filmotype Lucky") format("svg");
}

body {
  margin-bottom: 80px;
  font-family: "Filmotype Lucky";
}

.container {
  margin: 0 auto;
  max-width: 1250px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.greeting {
  margin-top: 80px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  margin-top: 80px;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: none;
}

.yoga-link,
.weather-link,
.yogurt-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px;
  text-decoration: none;
}
